@charset "utf-8";
/* CSS Document */

.slide,
.slide > div {
	height: 600px;
}

.slide .slide-heading {
    font-size: 50px;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 700;
    top: 240px;
    position: relative;
}