/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
	background-color: rgba(0,0,0,0);
	position: absolute;
	width: 100%; 
}


/* ## Title Area
--------------------------------------------- */


.site-title {
	font-size: 25px;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: inherit;
}

.header-image .site-title > a {
	background: url(/images/logo.png) no-repeat left;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
	display: none;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}


.search-form {
	overflow: hidden;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}


@media only screen and (min-width: 320px) {
	.site-header .wrap {
		padding: 40px 0;
	}
	
	/* ## Title Area
	--------------------------------------------- */
	
	.title-area {
		text-align: center;
		padding: 10px 0;
		width: 100%;
	}
	
	.site-title {
		font-size: 32px;
		font-size: 3.2rem;
		font-weight: 400;
		line-height: 1.2;
	}
	
	
	.header-image .site-title > a {
		min-height: 60px;
		width: 100%;
	}
	
		
	.site-description,
	.site-title {
		margin-bottom: 30px;
	}
	
	.header-image .site-description,
	.header-image .site-title {
		display: block;
		text-indent: -9999px;
	}
	
	/* ## Widget Area
	--------------------------------------------- */
	
	.site-header .widget-area {
		text-align: center;
	}
	
	.search-form {
		overflow: hidden;
	}
	
	.site-header .search-form {
		margin-top: 12px;
	}
	
}

@media only screen and (min-width: 1024px) {
	.site-header {
		min-height: 60px;
	}
	
	/* ## Title Area
	--------------------------------------------- */
	
	.title-area {
		float: left;
		padding: 12px 0;
	}
	
	.header-full-width .title-area {
		width: 100%;
	}
	
	.site-title {
		font-size: 25px;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.2;
	}
	
	.site-title a,
	.site-title a:hover,
	.site-title a:focus {
		color: inherit;
	}
	
	.header-image .site-title > a {
		float: left;
		min-height: 60px;
		width: 100%;
	}
	
	
	.site-description,
	.site-title {
		margin-bottom: 0;
	}
	
	.header-image .site-description,
	.header-image .site-title {
		display: block;
		text-indent: -9999px;
	}
	
	/* ## Widget Area
	--------------------------------------------- */
	
	.site-header .widget-area {
		float: right;
		text-align: right;
	}
	
	.search-form {
		overflow: hidden;
	}
	
	.site-header .search-form {
		float: right;
		margin-top: 12px;
	}
	
	.entry-content .search-form,
	.site-header .search-form {
		width: 50%;
	}
}